* {
    margin: 0;
    padding: 0;
 }

 body {
    background-color: aliceblue;
 }

 .wrapper-padding {
    padding: 2rem 2rem 0 2rem;
 }

 a:link {
    text-decoration: none;
 }

 header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    border-bottom: 0.05rem solid;
    border-top: 1rem;
    border-color: rgba(93, 106, 105, 1);

    & .logo-name {
        text-transform: capitalize;
        font-weight: lighter;
    }

    & .title {
        text-transform: uppercase;
        font-size: small;
    }

    & .social-links {
        display: flex;
        gap: 2rem;
        justify-content: center;
        justify-items: baseline;

        & .social {
            text-decoration: none;
            color: black;
            position: relative;
        }

        & .social::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
        }

        & .social:hover::after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
 }

 @media (width >= 1024px) { 
    .body-wrapper {
        display: flex;
        gap: 3rem;
    }
 }    

@media (width >= 1024px) {
.hero {
    display: flex;
    flex-direction: column;
    background-color: rgba(48, 63, 62, 1);

    & .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;

        & .hero-text {
            color: beige;
            font-size: medium;
            font-weight: 200;
            text-align: left;
            padding: 2rem;
        }
    }

    & .myPhoto {
        width: 18rem;
        border-radius: 15px;
    }

    & .hero-text {
        display: flex;
        flex-direction: column;

        & .hero-links {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            & .hero-button {
                background-color: aliceblue;
                color: rgba(48, 63, 62, 1);
                padding: 0.3rem;
                width: 100%;
                border-style: none;
                border-radius: 3px;
                box-shadow: inset 0px -9px 24px -5px rgba(48, 63, 62, 1);
                text-transform: capitalize;    
            }
        }
    }
 }
} 

@media (width < 1024px) {
    .hero {
        display: flex;
        flex-direction: row;
        background-color: rgba(48, 63, 62, 1);
    
        & .hero-content {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            padding: 2.5rem;
    
            & .hero-text {
                color: beige;
                font-size: medium;
                font-weight: 200;
                text-align: left;
                padding: 2rem;
            }
        }
    
        & .myPhoto {
            width: 14rem;
            border-radius: 15px;
        }
    
        & .hero-text {
            display: flex;
            flex-direction: column;
    
            & .hero-links {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
    
                & .hero-button {
                    background-color: aliceblue;
                    color: rgba(48, 63, 62, 1);
                    padding: 0.3rem;
                    width: 100%;
                    border-style: none;
                    border-radius: 3px;
                    box-shadow: inset 0px -9px 24px -5px rgba(48, 63, 62, 1);
                    text-transform: capitalize;    
                }
            }
        }
     }
}

@media (width < 640px) {
    .hero {
        display: flex;
        flex-direction: column;
        background-color: rgba(48, 63, 62, 1);
    
        & .hero-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2.5rem;
    
            & .hero-text {
                color: beige;
                font-size: medium;
                font-weight: 200;
                text-align: left;
                padding: 2rem;
            }
        }
    
        & .myPhoto {
            width: 14rem;
            border-radius: 15px;
        }
    }    
}

 .gallery {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .title {
        font-weight: 400;
        color: rgba(48, 63, 62, 1);
        padding: 1rem 0;
    }

    & .large {
        text-transform: capitalize;
        font-size: 52px;
    }

    & .medium {
        text-transform: uppercase;
        font-size: 18px; 
        padding-left: 1rem;    
    }

    & .projectImage {
        width: 25rem;
        border-radius: 5px;
    }

    & .project {
        display: flex;
        flex-direction: column;

        & .project-images {
            display: flex;
            flex-direction: row;
            gap: 2.5rem;
            border-radius: 5px;
            box-shadow: 5px 4px 24px -5px rgba(48, 63, 62, 1);
        }
    }

    @media (width < 1024px) {
        & .project {
            display: flex;
            flex-direction: column;
    
            & .project-images {
                display: flex;
                flex-direction: column;
                gap: 0;
                border-radius: 5px;
                box-shadow: 5px 4px 24px -5px rgba(48, 63, 62, 1);
            }

            & .projectImage {
                width: 15rem;
            }
        }
    }

    & .project:hover {
        .medium {
            background-color: rgba(93, 106, 105, 1);
            color: aliceblue;
            border-radius: 5px;
            transition: all 0.5s ease;
        }
    }
 }

 /* project details page */
 .project-images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;

    & img {
        width: 30rem;
    }
 }

 .project-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    padding: 5rem;
    gap: 2.5rem;

    & .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
    }

    & .link {
        text-decoration: none;
        color: var(--main-black-color);
        transition: all 0.5s ease;
    }

    & .link:hover {
        text-decoration: underline;
    }
 }

 footer {
    background-color: rgba(93, 106, 105, 1);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    
    & .footer-text {
        color: aliceblue;
        font-weight: 200;
        text-transform: uppercase;
    }

    & .footer-links {
        color: aliceblue;
    }
 }